# Virtual Environments
Flask/venv/
Training/venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/
Training/.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Log files
*.log